/*Aquí vamos a definir las propiedades de la página en general, más adelante definiremos las de las cajas principales*/
       /*formatos de párrafo, linea de separacion, encabezados 1 al 6, tablas, vínculos (en sus 4 estados) y body respectivamente*/
body {
	font:11px Verdana, Arial, Helvetica, sans-serif;
	.background-color:#FFF;
	text-align : justify;
	line-height: 10px;
}
p {
	font-size:21px;
	color: #586885;
	line-height: 120%;
}
hr {
	display:none;
 }
h1 {	
	font-size:55px;
	font-style:55px;
	text-align : center;
	color : #666666;
	margin:10px;	
	top:100px
}
h2 {
	font-size:20px;
	text-align : left;
	color:#486895;
	text-transform: capitalize;
}
h3 {
	font-size:18px;
	text-align : left;
	color : #666666;
}
h4 {
	font-size:15px;
	text-align : left;
	color : #666666;
}
h5 {
	font-size: 13px;
	text-align : left;
	color : #666666;
}
h6 {
	font-size:12px;
	text-align : left;
	color : #666666;
}
td {
	font-size: 12px;
	text-align : center;
	color : #586885;
}
a {
	font-size:20px;
	color:#325FA0;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color:#325FA0;
}
a:hover {
	text-decoration: none;
	color:#000066;
}
a:active {
	text-decoration: none;
	color:#0099CC;
}

#container {
	.background-color:#DDE6AC;
	.border-style:solid;
	.border-color:#000000;
	margin: 0 auto;
	width:80%;
	height:auto;
}

.header{
	width:100%;
	height:50px;
	.background-color:#CC9933;
	border-bottom-style:solid;
	border-bottom-color:#000000;
	border-width:0px;
	margin: 0 0 0 0;
	.margin:10px;
	text-align : center;
	font-size: 30px;
}

.izquierda{
	width:40%;
	margin-left:10px;
	height:auto;
	.background-color:#EFEFEF;
	border-style:solid;
	border-width:0px;
	border-color:#000000;
	margin:0 0 0 0;
	float:left;
	padding:3px;
	text-align : left;
}

.izquierda ul {       
	font:bold 11px Verdana, Arial, Helvetica, sans-serif;
	color:#586885;
	line-height: 140%;
	text-transform:capitalize;
}

.derecha{       
	width: 40%;
	margin-left:0px;
	height:auto;
	.background-color:#FFFFDD;
	border-style:solid;
	border-width:0px;
	border-color:#000000;
	margin:0 0 0 0;
	float:right;
	padding:5px;
	text-align : left;
}

.principal{
	width:60%;
	margin-left:20%;
	height:auto;
	.background-color:#FFF;
	border-style:solid;
	border-width:0px;
	border-color:#000000;
	.margin:0 5px 0 117px;
	padding:10px;
	text-align : center;
}

.footer{
	width:100%;
	height:60px;
	font-size:20px;
	.background-color:#FFF;
	border-style:solid;
	border-width:0px;
	border-color:#000000;
	margin:0 0 0 0;
}

.footer h6{
	text-align:center;
	text-transform:uppercase;
	margin:5px auto;
	color:#666666;
	font-size:10px;
}   