div.BotonGeneral{
/*
top:80%;
left:90%;
padding:15px; 
width:20px; 
height:40px; 
*/
position:absolute;
text-align:center;
letter-spacing:1px;
font-size:30px;
border:solid 1px #DEDEDE; 
border-radius:3px;
color:#333; 
}

#botonOK{ 
top:80%;
left:80%;
padding:15px; 
width:40px; 
height:40px; 
} 

div.BotonGeneral:hover{
background:-moz-linear-gradient(#fff 0%,#DEDEDE 100%);
.color:#000099; 
color:blue; 
font-size:33px;
border:solid 1px #DEDEDE; 
}

#botonCancelar{ 
top:80%;
left:70%;
padding:15px; 
width:20px; 
height:40px; 
} 

#botonInicio{ 
top:80%;
left:55%;
padding:15px; 
width:100px; 
height:40px; 
}


