div.BotonGeneral{

top:70%;
/*

left:90%;
padding:15px; 
width:20px; 
height:40px; 
*/
position:absolute;
text-align:center;
letter-spacing:5px;
font-size:30px;
border:solid 1px #DEDEDE; 
border-radius:5px;
color:#333; 
}

#botonSieguiente{ 
left:80%;
padding:15px; 
width:20px; 
height:40px; 
} 

div.BotonGeneral:hover{
background:-moz-linear-gradient(#fff 0%,#DEDEDE 100%);
.color:#000099; 
color:blue; 
font-size:33px;
border:solid 1px #DEDEDE; 
}

#botonAnterior{ 
left:70%;
padding:15px; 
width:20px; 
height:40px; 
} 

#botonInicio{ 
left:55%;
padding:15px; 
width:100px; 
height:40px; 
}

#botonInfo{ 
left:38%;
padding:15px; 
width:120px; 
height:40px; 
} 
